* { box-sizing: border-box;}


.batman {
  animation: walk 1s steps(6) infinite, moverse 10s steps(100) infinite forwards;
}




.superman {
  animation: down-up 15s steps(1000) infinite forwards;
}



@keyframes walk {
  100% { background-position: -1200px; }
}

@keyframes forward {
  100% { margin-left: 450px; }
}


@keyframes moverse {
  100% { margin-left: 100%; }
}


@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
  100% { margin-left: 500px;}
}



#fondo{
width: 90%;
height: 90%;
background: url("images/bg.png") no-repeat center top;
background-size: cover;
overflow: hidden;
}



.batman {
  background-image: url("images/batman.png");
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 0px;
  margin-left: -175px;
}


.superman {
  background-image: url("images/sman.gif");
  width: 132px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -175px;
}
